@model RealSpice.Models.ViewModels.CategoryAndSubCategoryViewModel
@using RealSpice.Extensions

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />

<h2 class="text-info">Details SubCategory</h2>
<br />


<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="border backgroundWhite row">
    <div class="col-8 border-right">
        <form method="post" asp-action="Details">

            <input type="hidden" asp-for="SubCategory.CategoryId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCategory.CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select id="ddlCategoryList" asp-for="SubCategory.CategoryId" disabled="disabled" asp-items="Model.CategoryList.ToSelectListItem(Model.SubCategory.CategoryId)" class="form-control"> </select>
                </div>

            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="SubCategory.Name" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="SubCategory.Name" class="form-control" disabled="disabled"/>
                </div>
                <span asp-validation-for="SubCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-3">
                    <partial name="_DetailsAndBackToListButtonPartial" model="Model.SubCategory.Id" />
                </div>

            </div>
        </form>
    </div>
    <div class="col-3 offset-1">
        @if (Model.SubCategoryList.Count() > 0)
        {
            <p> Existing Subcategories in <span id="selectedCategory"></span>: </p>

            <div id="SubCategoryList">
                <ul class="list-group"></ul>
            </div>
        }
        else
        {
            <p> No Subcategories Exist </p>
        }
    </div>



</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function updateSubCategoryList() {
            var categorySelected = document.getElementById("ddlCategoryList").value;

            $list = $("#SubCategoryList");

            $.ajax({
                url: "/Admin/SubCategory/GetSubCategory/" + categorySelected,
                type: "GET",
                dataType: "Text",
                success: function(data) {
                    results = JSON.parse(data);
                    $list.html("");
                    $list.append("<ul class = 'list-group'>");
                    if (results.length != 0) {
                        for (i in results) {
                            $list.append('<li class = "list-group-item">' + results[i].text + '</li>');
                            //$("#selectedCategory").text(document.getElementById("ddlCategoryList").val);
                            
                        }

                    } else {
                        $list.append("<p> No Subcategories Exist </p>");
                    }
                    $list.append('</ul>');
                }
            })


        }

        $(document).ready(function() {
            updateSubCategoryList();
            $("#selectedCategory").text($("#ddlCategoryList option:selected").text());
        });


    </script>
}
